/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body.light {
    color: black;
    background-color: white;
}
body.dark {
    color: white;
    background-color: black;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    flex-grow: 1;
}
footer {
    flex-grow: 0;
}

footer.light{
    color: black;
    background-color: #c8c7c7;
}

footer.dark{
    color: white;
    background-color: #353535;
}

td {
    width: 1px;
    white-space: nowrap;
}